@charset "utf-8";
html, body {
  font-size: 62.5%;
  width: 100%;
  -webkit-tap-highlight-color: transparent; //清除移动端点击后的颜色
  background-color: #29BDE0;
  font-family: HiraginoSansGB W3, serif;
}

@mixin w-h($w:0,$h:0) {
  width: $w;
  height: $h;
}

header {
  margin-right: -1.8rem;
  margin-bottom: 10rem;
  display: flex;
  flex-wrap: wrap; //换行
  width: 100%;

  .box-up {
    @include w-h(6.8rem, 6.8rem);
    margin: 1.8rem 2.1rem;
    border: .3rem solid #fff;
    box-sizing: border-box;

    .word {
      height: 4.9rem;
      font-size: 1.5rem;
      color: #565656;
      background-color: #F5C97B;
      text-align: center;
      line-height: 4.9rem;
    }
    .number {
      font-size: 1.1rem;
      color: #fff;
      background-color: #83b09a;
      text-align: center;
      line-height: 1.3rem;
    }
  }
}

main {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #29BDE0;
  z-index: 1;

  div {
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    border-top: 1px solid #fff;

    button {
      width: 100%;
      margin-top: 2.1rem;
      margin-bottom: 2.1rem;
      padding: 1.3rem 0;
      color: #fff;
      background-color: #FBB435;
    }
  }
}